[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".config/Daily-Reddit-Wallpaper"]
	path = .config/Daily-Reddit-Wallpaper
	url = https://github.com/kensand/Daily-Reddit-Wallpaper
