[submodule ".config/Daily-Reddit-Wallpaper"]
	path = .config/Daily-Reddit-Wallpaper
	url = https://codeberg.org/kensand/Daily-Reddit-Wallpaper.git
[submodule ".config/oh-my-zsh"]
	path = .config/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
