*
!.gitignore
!.gitconfig
!.config/tmux-sessionist
!.config/tmux-sidebar
!.tmux.conf
!.config/
!.config/i3
!.config/i3status
!.config/Daily-Reddit-Wallpaper
!.config/xfce4
!.config/nvim
!.config/polybar
!.config/oh-my-zsh
!.config/i3-workspace-names-daemon
!.config/ranger
!.config/qutebrowser
!.config/qutebrowser/**
!.config/ranger/**
!.config/polybar/**
!.config/i3/**
!.config/i3status/**
!.config/Daily-Reddit-Wallpaper/**
!.config/xfce4/**
!.config/nvim/**
!.vim/
!.vim/*
!.vim/*/*
!.vim/**
.vim/plugged/*
!.vim/
!.vim/*
!.vim/*/*
!.vim/**
!.vimrc
.vim/plugged/*
!.zshrc
.vim/plugged/*
!.zshrc
!.bashrc
!.Xdefaults
!.Xresources
!bin/
!bin/*
!bin/*/*
!.zsh_aliases
