[submodule ".config/Daily-Reddit-Wallpaper"]
	path = .config/Daily-Reddit-Wallpaper
	url = https://gitlab.com/kensand/Daily-Reddit-Wallpaper
[submodule ".config/oh-my-zsh"]
	path = .config/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".config/tmux-sessionist"]
	path = .config/tmux-sessionist
	url = https://github.com/tmux-plugins/tmux-sessionist.git
[submodule ".config/tmux-sidebar"]
	path = .config/tmux-sidebar
	url = https://github.com/tmux-plugins/tmux-sidebar.git
[submodule ".config/i3-workspace-names-daemon"]
	path = .config/i3-workspace-names-daemon
	url = https://github.com/cboddy/i3-workspace-names-daemon.git
