*
!.gitignore
!.gitconfig
!.config/tmux-sessionist
!.config/tmux-sidebar
!.tmux.conf
!.config/
!.config/hypr
!.config/hypr/**
!.config/wal
!.config/wal/**
!.config/i3
!.config/sway
!.config/i3status
!.config/Daily-Reddit-Wallpaper
!.config/xfce4
!.config/nvim
!.config/waybar
!.config/way-displays
!.config/fuzzel
!.config/polybar
!.config/picom
!.config/oh-my-zsh
!.config/i3-workspace-names-daemon
!.config/ranger
!.config/qutebrowser
!.config/qutebrowser/**
!.config/ranger/**
!.config/waybar/**
!.config/way-displays/**
!.config/oh-my-zsh
!.config/ranger
!.config/i3-easyfocus
!.config/ranger/**
!.config/polybar/**
!.config/picom/**
!.config/i3/**
!.config/sway/**
!.config/fuzzel/**
!.config/i3status/**
!.config/Daily-Reddit-Wallpaper/**
!.config/xfce4/**
!.config/nvim/**
!.vim/
!.vim/*
!.vim/*/*
!.vim/**
.vim/plugged/*
!.vim/
!.vim/*
!.vim/*/*
!.vim/**
!.vimrc
.vim/plugged/*
!.zshrc
.vim/plugged/*
!.zshrc
!.bashrc
!.Xdefaults
!.Xresources
!bin/
!bin/*
!bin/*/*
bin/jetbrains-toolbox
!.zsh_aliases
