*.background:	#121513
*.color0:	#121513
*.color1:	#99503B
*.color10:	#778474
*.color11:	#D0AE73
*.color12:	#F8AB74
*.color13:	#567A85
*.color14:	#69878C
*.color15:	#c7c4bc
*.color2:	#778474
*.color3:	#D0AE73
*.color4:	#F8AB74
*.color5:	#567A85
*.color6:	#69878C
*.color66:	#121513
*.color7:	#c7c4bc
*.color8:	#8b8983
*.color9:	#99503B
*.foreground:	#c7c4bc
*background:	#121513
*color0:	#121513
*color1:	#99503B
*color10:	#778474
*color11:	#D0AE73
*color12:	#F8AB74
*color13:	#567A85
*color14:	#69878C
*color15:	#c7c4bc
*color2:	#778474
*color3:	#D0AE73
*color4:	#F8AB74
*color5:	#567A85
*color6:	#69878C
*color66:	#121513
*color7:	#c7c4bc
*color8:	#8b8983
*color9:	#99503B
*foreground:	#c7c4bc
URxvt*background:	[100]#121513
URxvt*borderColor:	[100]#121513
URxvt*cursorColor:	#c7c4bc
URxvt*depth:	32
URxvt*foreground:	#c7c4bc
UXTerm*background:	#121513
UXTerm*cursorColor:	#c7c4bc
UXTerm*foreground:	#c7c4bc
XClock*background:	#121513
XClock*foreground:	#c7c4bc
XClock*hourColor:	rgba:c7/c4/bc/ff
XClock*majorColor:	rgba:c7/c4/bc/ff
XClock*minorColor:	rgba:c7/c4/bc/ff
XClock*minuteColor:	rgba:c7/c4/bc/ff
XClock*secondColor:	rgba:c7/c4/bc/ff
XTerm*background:	#121513
XTerm*cursorColor:	#c7c4bc
XTerm*foreground:	#c7c4bc
emacs*background:	#121513
emacs*foreground:	#c7c4bc
